.pizzaLogo{
    width: 150;
    height: 150;
    margin-bottom: 30;
}

.login-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("res://pizza_board");
}

/* .login-inner-container{
    background-color: rgba(255, 255, 255, 0.1);
} */

.form-container{
    margin-top: 100;
}

.logo-image{
    margin-bottom: 20;
}

.navigation-button{
    border-radius: 10;
    border-color: rgb(201, 46, 3);
    border-width: 3;
    color:#FF3700;
    background-color: white;
    margin: 10;
    margin-top: 20;
}

.input-text-field{
    background-color: white;
    border-radius: 10;
    margin: 10;
    padding-right: 15;
    padding-left: 15;
}