@import './tools/assets/platformStyles.css';

.btn {
    font-size: 18;
}

.navigation-button{
    border-radius: 10;
    border-color: rgb(201, 46, 3);
    border-width: 3;
    color:#FF3700;
    background-color: white;
}

.page-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("res://pizza_board");
}

.logo-image{
    margin-bottom: 20;
}

@import '~nativescript-theme-core/css/core.light.css';
