label{
    font-size: 22;
    text-align: center;
}

.label-wrapper{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5;
    margin: 20;
    padding: 10;
}

.logo-image-summary{
    width: 200;
}